:root {
  --primary-light: #355fa8;
  --primary: #224075;

  --secondary-light: #bcb4b4;
  --secondary: #787878;

  --tertiary-light: #f6f1ec;
  --tertiary: #e0c4a9;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--tertiary-light);
  font-size: 1rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}
