.pagination {
  display: flex;
  padding: 0 1rem;
  margin: 1rem auto;
  justify-content: center;
  list-style-type: none;
}

.pagination li {
  margin: 0 0.2rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li:hover {
  background-color: var(--tertiary-extra);
}

.pagination li.active {
  background-color: var(--primary);
  color: white;
}

.pagination li.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination li.not-clickable {
  pointer-events: none;
  background-color: var(--tertiary-light);
}

@media (max-width: 640px) {
  .pagination li {
    margin: 0;
  }
}
