@import 'global.css';
@import 'nav.css';
@import 'header.css';

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  border: 1px solid var(--tertiary-light);
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--tertiary);
}

.book-card img {
  max-width: 100px;
  height: auto;
}

.book-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination {
  text-align: center;
  margin: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#loader {
  display: none;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .book-card {
    width: 100%;
  }
}
