@import 'global.css';
@import 'layout.css';
@import 'header.css';
@import 'pagination.css';
@import 'book.css';

.book-list {
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  width: 200px;
  margin: 0.75rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid var(--tertiary-light);
}

.book-card .img-wrapper {
  position: relative;
  padding: 0 1.25rem;
  border-radius: 0.4rem;
  text-align: center;
  background-color: var(--tertiary);
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-card > .img-wrapper > img {
  height: auto;
  max-width: 100px;
  margin-bottom: 0.15rem;
}

.book-card > .img-wrapper > .id {
  position: absolute;
  bottom: 0.2rem;
  right: 0.3rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: flex-end;
}

.book-card .wishlist {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
}

.book-card .detail {
  display: flex;
  gap: 0.25rem;
  align-items: start;
  justify-content: space-between;
  margin: 0.5rem 0 0.35rem 0;
}

.book-card > .detail > .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.25rem;
  font-size: 1rem;
}

.book-card > .detail > .title:hover {
  text-decoration: underline;
}

.book-card > .author {
  font-size: 0.9rem;
}

.book-card > .author > span {
  text-decoration: underline;
  font-weight: 600;
}

.book-card button {
  cursor: pointer;
}

#loader {
  display: none;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

@media (max-width: 640px) {
  .book-card {
    width: 100%;
  }
}
