:root {
  --primary: #224075;
  --secondary: #f6f1ec;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

header {
  text-align: center;
  margin: 20px;
}

input,
select {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.book-card img {
  max-width: 100px;
  height: auto;
}

.book-card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination {
  text-align: center;
  margin: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#loader {
  display: none;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .book-card {
    width: 100%;
  }
}
